<div class="col-sm-10 col-sm-offset-1">
<h4 class="center">Other freely accessible sites on contributors to 19th Century British Periodicals</h4>
<br>
<p><b>Athenaeum</b>: The Athenaeum Projects, maintained by the Centre for Interactive Systems Research, City University of London [an index of book reviews published in the Athenaeum between 1828 and 1870] <%=link_to "http://smcse.city.ac.uk/doc/cisr/web/athenaeum/", "http://smcse.city.ac.uk/doc/cisr/web/athenaeum/", target: "_blank"%></p>

<p><b>Gentleman’s Magazine</b>: Attributions of authorship in Gentleman’s Magazine by Emily Lorraine de Montluzin, published by the Bibliographical Society of the University of Virginia [covering from 1731 to 1868] <%=link_to "http://bsuva.org/bsuva/gm2/index.html", "http://bsuva.org/bsuva/gm2/index.html", target: "_blank"%></p>

<p><b>Quarterly Review</b>: The Quarterly Review Archive, edited by Jonathan Cutmore, and published as part of the Romantic Circles website [an index of articles published in the Quarterly Review from 1809-1824]
<%=link_to "https://www.rc.umd.edu/reference/qr/", "https://www.rc.umd.edu/reference/qr/", target: "_blank"%></p>

<p><b>History in the Victorian Periodical Press Online</b>: HiPPo, a database containing records of accounts of history published from about 1809 to 1916 in nineteen Victorian periodicals, published under the auspices of the University of Windsor and directed by Leslie Howsam. <%= link_to "http://www1.uwindsor.ca/historybook/6/history-in-the-victorian-periodical-press-online-hippo", "http://www1.uwindsor.ca/historybook/6/history-in-the-victorian-periodical-press-online-hippo", target: "_blank"%></p>

<p><b>The Periodical Poetry Index</b>, citing poetry published in nineteenth-century periodicals, developed and managed by Natalie Houston, Lindsy Lawrence, and April Patrick. <%=link_to "http://www.periodicalpoetry.org/", "http://www.periodicalpoetry.org/", target: "_blank"%></p>

<p><b>Victorian Poetry Network</b>, which includes a database of Victorian Periodical Poetry and is maintained at the University of Victoria by Allison Chapman.  <%=link_to "http://web.uvic.ca/~vicpoet/author/alisonc/", "http://web.uvic.ca/~vicpoet/author/alisonc/", target: "_blank"%></p>


<p><b>Research Society for Victorian Periodicals</b>, an international association of scholars dedicated to the exploration and study of 19th-century British periodicals, and the supporting organization for the Curran Index <%= link_to "http://rs4vp.org/", "http://rs4vp.org/", target: "_blank"%></p>

<p><b>The Victoria Research Web</b>, a guide to research resources for the study of 19th- century Britain, established and maintained by Patrick Leary. For 15 years this site has been the primary home of the Curran Index  <%=link_to "http://victorianresearch.org/", "http://victorianresearch.org/", target: "_blank"%></p>
<br>
</div>