  <div>
    <h3 class="bold"><%=@periodical.title%><br></h3>
    <%=raw @periodical.comment%>
  </div>
  <div>
    <ul class= "list-unstyled">
      <%@list.joins(:contributors).each do |art| %>
          <li>
          <%=raw art.periodical_citation%>
          <%=art.entry_month%>
        <%end%>
        <br></li>
      <br>
    </ul>
    <%= will_paginate @list %>
</div>
