<div class="header" id="header_image">
      <h1 class="center bold">The Curran Index</h1>
</div>
<div class="row center">
  <form role="form" class="form-inline search">
    <div class="form-group">
      <label for="search">Search</label>
      <input type="text" id="search" name="search" class="form-control">
    </div>
  </form>
</div>
<div class="columns">
  <div class="sidecol">
  <div class="panel panel-default">
    <h4 class="panel-title"><b>Periodicals</b></h4>
    <%@periodicals.each do |p|%>
    <div class="panel-body"> <%=p.name%></div>
    <%end%>
  </div>
  </div>
  <div class="maincol">
  <ul class= "list-unstyled">
  <%@articles.each do |art| %>
    <li><b><%= art.title %></b>, <%= art.periodical.name%> <%=art.volume%> (<%=art.date%>)
    <li class="tab"><%=art.attribution%></li>
    <br></li>
  <%end%>
  <br>
  </ul>
  <%= will_paginate @articles%>
  </div>
</div>