<div class="header" id="header_image">
      <h1 class="center bold">The Curran Index</h1>
</div>
<div class="row">
  <form role="form" class="form-inline search">
    <div class="form-group">
      <label for="search">Search</label>
      <input type="text" id="search" name="search" class="form-control">
    </div>
  </form>
</div>
<div class="columns">
  <div class="sidecol">
  <div class="panel panel-default">
    <h4 class="panel-title center"><br><b>Filter By</b></h4>
    <%=link_to 'reset', '?', class: 'btn btn-default btn-sm pull-right'%>
    <div class="panel-body">
    <%[:periodical, :article_type].each do |filter_name|%>
      <%filter = @search.filter(filter_name)%>
      <div class="filter">
        <div class="filter-title">
        <p><%=filter.name%></p>
        </div>
        <div class="filter-values">
        <ul class="selected">
        <%filter.selected.each do |entity|%>
          <%display = filter_name == :article_type ? entity : entity.title %>
          <li><%=link_to display, filter.remove(entity).path%></li>
        <%end%>
        </ul>
        <ul class="selectable">
          <%filter.facet.reject(&:selected).each do |facet_value|%>
            <%entity = facet_value.entity%>
            <li>
              <%display = filter_name == :article_type ? entity : entity.title %>
              <%=link_to display, filter.add(entity).path%>
              <%end%>
              </li>
        </ul>
        </div>
      </div>
    <%end%>
    </div>
  </div>
  </div>
  <div class="maincol">
      <div class="panel panel-default">
      <div class="panel-body"> 
      <%#if params[:page].nil? %>
      <%#else%>
      <ul class= "list-unstyled">

        <%@list.each do |art|%>
          <p><%=art.periodical_citation%></p>
          <%end%>
      <%#end%>
      </ul>
  </div>
    </div>
    <div class="toolbar_group">
    <%= will_paginate @list%>
    </div>
  </div>
</div>