
<div class="header" id="header_image">
  <h1 class="center bold">The Curran Index</h1>
</div>
<div class="columns">
  <div class="sidecol">
    <h4 class="center"><br><b>Filter By</b><br></h4>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Periodicals
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <%[:periodical].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = entity.title %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = entity.title %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Contributors
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <%[:contributors].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = entity.full_name %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = entity.full_name %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Article Type
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <%[:article_type].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = entity %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = entity %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
         </div>
        </div>
      </div>
    </div>
     <div>
      <% year_filter = @search.filter(:article_year)%>
      <div class="slider-row">
        <div class = "slider" id="slider-range"></div>
        <div class="slider-min">
          <%=year_filter.absolute_min%>
        </div>
        <div class="slider-max">
          <%=year_filter.absolute_max%>
        </div>
      </div>
      <br>
      <div class="input-group">
        <%=text_field_tag "disabled", year_filter.value, class: "form-control", id: "year-range-display", disabled: true, placeholder: "Year"%>
        <%= hidden_field_tag 'date_range', year_filter.value, class: "form-control", id: "year-range", data: { "absolute-min" => year_filter.absolute_min, "absolute-max" => year_filter.absolute_max }%>
        <div class="input-group-btn">
         <button type="submit" class="btn btn-default" id="range-filter">Search</button>
        
        </div>
      </div>
    </div>    
 
  </div>
  <div class="maincol">
    <div class="row">
      <%unless params[:search].nil?%>
      <div class="nav">
        <ul class="nav-pills">
          <li class="btn btn-sm btn-default"><%=link_to 'Reset All Filters', '?'%></li>
          <%[:contributors, :periodical, :article_type, :article_year].each do |filter_name|%>
            <% selected(filter_name) %>
            <% filter = @search.filter(filter_name)%>
              <%unless filter.empty?%>
                <%@link.each do |key, value|%>
                  <li class="btn btn-sm btn-default"><%=link_to "x #{key}", filter.remove(value).path%></li>
                <%end%>
              <%end%>
          <%end%>
        </ul>
      <%end%>
    </div>
  <br>
    <div class="panel panel-default">
      <div class="panel-body"> 
        <%if params[:search].nil? %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <%else%>
          <ul class= "list-unstyled">
            <%@list.each do |art|%>
              <p><%= raw art.periodical_citation%></p>
            <%end%>
          </ul>
      </div>
    </div>
      <div class="toolbar_group">
        <%= will_paginate @list%>
      </div>
      <%end%>
  </div>

<script type="text/javascript">
  $(function() {
    var current = $('#year-range').val();
    var abs_min = parseFloat($('#year-range').attr('data-absolute-min'));
    var abs_max = parseFloat($('#year-range').attr('data-absolute-max'));

    var current_min = abs_min;
    var current_max = abs_max;

    if (current != '') {
      var splits = current.split(' - ');
      current_min = parseFloat(splits[0]);
      current_max = parseFloat(splits[1]);
    }
    $( "#slider-range" ).slider({
      range: true,
      min: abs_min,
      max:  abs_max,
      values: [ current_min, current_max ],
      slide: function( event, ui ) {
        $( "#year-range" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
        $( "#year-range-display" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      }
    });
      var date_range = $("#year-range-display");
      var params = "<%=@search.params.to_query%>"
    $("#range-filter").click(function(e){
      e.preventDefault();
      $.ajax({
        method: 'GET',
        url: 'date_range',
        data: { date_range: date_range[0].value,
        search_params: params }
      });
    });
  });
</script>