<div class="header" id="header_image">
      <h1 class="center bold">The Curran Index</h1>
</div>
<div class="columns">
  <div class="sidecol">
    <h4 class="center"><br><b>Filter By</b><br></h4>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Periodicals
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <%[:periodical].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = filter_name == :article_type ? entity : entity.title %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = filter_name == :article_type ? entity : entity.title %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Contributors
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <%[:contributors].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = filter_name == :article_type ? entity : entity.full_name %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = filter_name == :article_type ? entity : entity.full_name %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Article Type
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <%[:article_type].each do |filter_name|%>
              <%filter = @search.filter(filter_name)%>
              <div class="filter">
                <div class="filter-title">
                  <p><%=filter.name%></p>
                </div>
                <div class="filter-values">
                  <ul class="selected">
                    <%filter.selected.each do |entity|%>
                      <%display = filter_name == :article_type ? entity : entity.full_name %>
                      <li><%=link_to display, filter.remove(entity).path%></li>
                    <%end%>
                    </ul>
                  <ul class="selectable">
                    <%filter.facet.reject(&:selected).each do |facet_value|%>
                      <%entity = facet_value.entity%>
                      <li>
                        <%display = filter_name == :article_type ? entity : entity.full_name %>
                          <%=link_to display, filter.add(entity).path%>
                        <%end%>
                      </li>
                  </ul>
                </div>
              </div>
            <%end%>
         </div>
        </div>
      </div>
    </div>
    <div>
    <% year_filter = @search.filter(:article_year)%>
    <input-group>
      <%=text_field_tag "disabled", year_filter.value, class: "form-control", id: "year-range-display", disabled: true%>
        <%= hidden_field_tag "search[article_year]", year_filter.value, class: "form-control", id: "year-range", data: { "absolute-min" => year_filter.absolute_min, "absolute-max" => year_filter.absolute_max }%>
        <input-group-btn>
          <button type="button" class="btn btn-default">Search</button>
        </input-group-btn>
    </input-group>
    <slider-row>
      <slider-min>
      <%=year_filter.absolute_min%>
      </slider-min>
      <slider-max>
      <%=year_filter.absolute_max%>
      </slider-max>
      <slider id="slider-range"></slider>
    </div>
    <div class="center"><%=link_to 'Reset All Filters', '?', class: 'btn btn-default btn-sm'%></div>
  </div>
  <div class="maincol">
  <div class="row">
  <br> Put filter display here.<br>
  </div>

    <div class="panel panel-default">
      <div class="panel-body"> 
        <%if params[:search].nil? %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <%else%>
          <ul class= "list-unstyled">
            <%@list.each do |art|%>
              <p><%= raw art.periodical_citation%></p>
            <%end%>
          </ul>
      </div>
    </div>
      <div class="toolbar_group">
        <%= will_paginate @list%>
      </div>
      <%end%>
  </div>
</div>