<!DOCTYPE html>
<html>
  <head>
    <title>TheCurranIndex</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="custom-background">
    <div id="wrapper" class="col-sm-8 white-background col-sm-offset-2 full-width-depad">
      <div class="center header col-sm-8" id="header_image"><img src="assets/oldbooks2.jpg" class="center"/></div>
      <%=render :partial => '/static_pages/navigation'%>
      <div class="contents repad">
        <%= yield %>
      </div>
      <footer class="footer">
          <div class="collapse navbar-collapse">
            <div class="navbar-nav">
              <span class="footer_copyright">The Curran Index, &copy;2017  All Rights Reserved</span>
              <%=link_to "Site by Brumfield Labs", "http://www.brumfieldlabs.com", target: "_blank", class: "nav-item nav-link footer_nav"%>
             </div> 
          </div>
       </footer>
     </div>
    <%= javascript_include_tag 'application'%>
    <%= yield :js %>
  </body>
</html>