<!DOCTYPE html>
<html>
<head>
  <title>TheCurranIndex</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header" id="header_image">
      <h1 class="center bold">The Curran Index</h1>
    </div>
    <%= yield %>
  </div>
  <div class="center">
    <nav class="navbar navbar-toggleable-md navbar-light">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav">
        <a class="nav-item nav-link btn" href="#">History</a>
        <a class="nav-item nav-link btn" href="#">Attribution Scholarship</a>
        <a class="nav-item nav-link btn" href="#">Related Sites</a>
        <a class="nav-item nav-link btn" href="#">Release Notes</a>
        <a class="nav-item nav-link btn" href="#">Contributors</a>
        <a class="nav-item nav-link btn" href="#">Advanced Search</a>
        <%=mail_to "#{Contact.first.email}", "Contact Us", class: "nav-item nav-link btn"%>
        </div>
    </nav>
</div>
</body>
</html>
