<div class="white-background">
<div class="col-sm-6 white-background col-sm-offset-3">
  <h4 class="center">Release Notes</h4>
  <br>
  <div class="panel-group">
    <%@essays.each do |essay|%>
      <%id_more = "#{essay.id}_more" %>
      <%id_less = "#{essay.id}_less" %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div id=<%="#{id_more}"%>><%=raw essay.short%><a href=<%="#{essay.id}"%> class='more'>Read More</a></div></div>
          <div id=<%="#{id_less}"%>  style="display: none;"><%=raw essay.contents%><p><a href=<%="#{essay.id}"%> class="less pull-right">Show Less</a></p></div>
        </div>
      </div>

    <%end%>

  </div>
</div>
</div>

<% content_for :js do %>  
  <script type="text/javascript">
    $(function() {
      $(".more").click(function(e){
        e.preventDefault();
        var more = "#" + this.attributes.href.value + "_more";
        var less = "#" + this.attributes.href.value + "_less";
        $(more).toggle(0);
        $(less).toggle(0);
      });
      $(".less").click(function(e){
        e.preventDefault();
        var more = "#" + this.attributes.href.value + "_more";
        var less = "#" + this.attributes.href.value + "_less";
        $(more).toggle(0);
        $(less).toggle(0);
      });
    });

  </script>
<%end%>
